body {
  background-color: lightblue;
  color: darkblue;
  font-family: "Roboto", sans-serif;
  font-size: 1rem !important;
}
body h1 {
  font-weight: 800;
  text-align: center;
}
body p {
  font-size: 1rem;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#boxes .box:nth-child(1) {
  background-color: lightgreen;
  border-radius: 100%;
}

#boxes .box:nth-child(1):hover {
  background-color: lightpink;
  border-radius: 100%;
}

#boxes .box:nth-child(2) {
  box-sizing: border-box;
  background-color: lightslategray;
  border-width: 10px;
  border-style: solid;
  border-color: black;
}

#boxes .box:nth-child(2):hover {
  box-sizing: border-box;
  background-color: black;
  border-width: 10px;
  border-style: solid;
  border-color: lightslategray;
}

#boxes .box:nth-child(3) {
  background: linear-gradient(to bottom, white 50%, red 50%);
}

#boxes .box:nth-child(3):hover {
  background: linear-gradient(to bottom, red 50%, white 50%);
}

#challenge3 #link1, #challenge3 #link2, #challenge3 #link3  {
    color:darkblue;
    text-decoration: underline;
}

#challenge3 #link1:visited, #challenge3 #link2:visited, #challenge3 #link3:visited  {
    color:lightslategray;
}

#challenge3 #link1:hover, #challenge3 #link2:hover, #challenge3 #link3:hover  {
    color:red;
    font-weight: bold;
}

#challenge3 ul {
    list-style-type:"🍔";
}

#challenge4 p:empty { 
    display: none;
}
  
#challenge4 input:disabled {
    display: none;
}

#challenge4 a[href*="recipe"] {
    display: none;
}

#challenge5 img {
    width: 70%;
    min-width: 100px;
    max-width: 500px;
}

#challenge5 figcaption {
    font-size: 0.7em;
}